= devise_error_messages!
.valign-wrapper.row.login-box
  .col.card.hoverable.s10.pull-s1.m6.pull-m3  
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .card-content
        %span.card-title Registrar
        .row
          .input-field.col.s12
            %label{:for => "email"} Email
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .input-field.col.s12
            %label{:for => "username"} Username
            = f.text_field :username, autofocus: true, autocomplete: "username"
          .input-field.col.s12
            %label{:for => "password"} Senha
            = f.password_field :password, autocomplete: "off"
          .input-field.col.s12
            %label{:for => "password_confirmation"} Confirmação de Senha
            = f.password_field :password_confirmation, autocomplete: "off"
      .card-action.right-align
        = f.submit "Registrar", class: "btn waves-effect waves-light"
= render "devise/shared/links"
