%li
  = link_to('Busca', cards_path)
- if user_signed_in?
  %li
    = link_to('Quero', wants_profile_path)
  %li
    = link_to('Tenho', haves_profile_path)
  %li
    = link_to('Usuários', users_path)
  %li
    = link_to('Logout', destroy_user_session_path, method: :delete, class: 'waves-effect waves-light btn')
- else
  %li
    = link_to('Login', new_user_session_path, class: 'waves-effect waves-light btn')
