.valign-wrapper.row.login-box
  .col.card.hoverable.s10.pull-s1.m6.pull-m3
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .card-content
        %span.card-title Login
        .row
          .input-field.col.s12
            %label{:for => "login"} Login
            = f.text_field :login, autofocus: true, autocomplete: "login", placeholder: "Login"
          .input-field.col.s12
            %label{:for => "password"} Senha
            = f.password_field :password, autocomplete: "off", placeholder: "Senha"
          = hidden_field_tag :remember_me, true
      .card-action.right-align
        = f.submit "Entrar", class: "btn waves-effect waves-light"
= render "devise/shared/links"
