!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ManaVai
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar-fixed
      %nav
        .nav-wrapper
          %a.brand-logo{ href: cards_path } &nbsp;ManaVai
          %a.left.button-collapse.hide-on-large-only{ href: "#", "data-activates" => "left-sidenav" }
            %i.material-icons menu
          %ul.right.hide-on-med-and-down
            = render partial: 'shared/menu_items'
    = render partial: 'shared/sidenav'
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
